<h1>Informacje o artykule</h1>
<ul style="list-style-type:none">
<li> <h1>Tytuł </h1><%= @article.title %> </li>
<li> <h1>Opis </h1><%= @article.description %> </li>
<li> <h1><button><%= link_to "Edytuj artykuł", "/articles/#{params[:id]}/edit"%></button></h1></li>
</ul>
