<h1 class= "text-center mb-5">Użytkownicy</h1>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>
<%= render 'users' %>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>