<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body class="d-flex flex-column">
  <div id="page-content">
    <div class="container text-center text-white">
      <div class="bg-light p-5 rounded-lg m-3" id="home-container">
        <h1 class="display-4">Strona domowa - nauka RoR</h1>
        <p class="lead">Strona do testowania różnych rzeczy związanych z RoR oraz Bootstrap.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni fugiat qui pariatur, illo culpa reprehenderit labore quasi enim ipsum quisquam explicabo dolor quia placeat earum distinctio quibusdam officia ut.</p>
        <a class="btn btn-primary btn-success" href="#" role="button">Patrz na to </a>
      </div>
    </div>

  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Footer strony głównej</small>
    </div>
  </footer>

</body>
</html>


